[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = https://github.com/derme302/triple-hyde.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/Loveit"]
	path = themes/Loveit
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
